<section>
    <div class="container py-5">
      <h1 class="text-primary mb-4"><%= article.title %></h1>
      <div class="text-center mb-4">
        <img src="<%= article.image %>" alt="<%= article.title %>" class="img-fluid" style="max-width: 400px;">
      </div>
      <div class="text-dark">
        <p><%= article.content %></p>
      </div>
      <a href="/home" class="btn btn-link text-primary">
        <i class="fas fa-arrow-left"></i> Back
      </a>
    </div>
  </section>
  