<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-phone-alt fa-2x me-4"></i>
                        <div class="text-start">
                            <h2 class="m-0">Emergency Contact</h2>
                            <h2 class="m-0">112</h2>
                            <h2 class="m-0">Indonesia</h2>
                        </div>
                    </div>
                    <div class="mt-4 d-flex">
                        <a href="tel:112" class="btn btn-light text-danger px-4 py-2 d-flex align-items-center">
                            <strong>Call Now</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>