<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register & Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script type="module" src="/js/firebaseauth.js"></script>
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="header-container">
            <h1>WeCare</h1>
        </div>
    </header>

    <main class="content">
    <!-- Register Form -->
    <div class="container" id="signup" style="display: none;">
        <h1 class="form-title"><strong>Register</strong></h1>
        <form method="post" action="">
            <div id="signUpMessage" class="messageDiv" style="display: none;"></div><br>
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="text" id="name" placeholder="Name" required>
                <label for="name">Name</label>
            </div>
            <div class="input-group">
                <i class="fas fa-phone"></i>
                <input type="tel" id="phone" placeholder="Phone" required>
                <label for="phone">Phone</label>
            </div>
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" id="rEmail" placeholder="Email" required>
                <label for="rEmail">Email</label>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" id="rPassword" placeholder="Password" required>
                <label for="rPassword">Password</label>
                <span class="toggle-visibility fas fa-eye" id="toggleRegisterPassword"></span>
            </div>
            <button class="btn" id="submitSignUp">Sign Up</button>
        </form>
        <div class="links">
            <p>Already Have Account?
                <button id="signInButton">Sign In</button>
            </p>
        </div>
    </div>
    <br>
    <!-- Login Form -->
    <div class="container" id="signIn">
        <h1 class="form-title"><strong>Sign In</strong></h1>
        <form method="post" action="">
            <div id="signInMessage" class="messageDiv" style="display: none;"></div><br>
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" id="email" placeholder="Email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" placeholder="Password" required>
                <label for="password">Password</label>
                <span class="toggle-visibility fas fa-eye" id="toggleLoginPassword"></span>
            </div>
            <p class="recover">
                <a href="#" id="forgotPasswordButton">Forgot Password?</a>
            </p>
            <button class="btn" id="submitSignIn">Sign In</button>
        </form>
        <br>
        <p class="or">---------- or ----------</p>
        <div class="icons">
            <button class="google-btn">
                <i class="fab fa-google"></i> Continue with Google
            </button>
        </div>
        <div class="links">
            <p>Don't have an account yet?
                <button id="signUpButton">Sign Up</button>
            </p>
        </div>
    </div>

    <!-- Forgot Password Form -->
    <div class="container" id="forgotPassword" style="display: none;">
        <h1 class="form-title"><strong>Recover Password</strong></h1>
        <form>
            <div id="forgotPasswordMessage" class="messageDiv" style="display: none;"></div><br>
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" id="forgotEmail" placeholder="Enter your email" required>
                <label for="forgotEmail">Email</label>
            </div>
            <button class="btn" id="submitForgotPassword">Send Reset Link</button>
            <div class="links">
                <button id="backToSignIn">Back to Login</button>
            </div>
        </form>
    </div>
    </main>
    <script src="/js/script.js"></script>
</body>
</html>
